.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}


.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.hero-text h1 {
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.hero-text img {
    height: 6rem;
    position: absolute;
    right: 10rem;
    top: 8.7rem;
    width: 6rem;
}

.hero-text p {
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.hero-text span a {
    color: #2d2e32;
    font-size: 3rem;
}


.hero-img {
    background-image: url(Simg/w7kSYnsV_400x400.jpg);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 5%;
    height: 35rem;
    position: relative;
    width: 35rem;
  }

  .skills {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
  }

  .skills p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
  }

  .skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
  }

  .skills ul li {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    height: 6.5rem;
    justify-content: center;
    width: 6.5rem;
  }

  .skills ul li img {
    height: 3.4rem;
    width: 3.4rem;
  }


  .closed-menu {
    left: -100% !important;
  }